.button {
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  display: inline-block;
  color: $part-txt-color;
  background: $accent-bg-color;
  width: 200px;
  height: 50px;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  display: flex;
  justify-content: center;

  margin: 0 auto; // для моб

  &:focus,
  &:hover {
    background: $accent-bg-color;
    color: $features-bg-color;
  }
}

//меню Бургер
@media screen and (max-width: 767px) {
  .menu-button {
    // display: inline-flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .menu-button .icon-cross {
    display: none;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }

  .menu-container {
    display: none;
    font-size: 18px;
    line-height: 1.16;
    background-color: #ffffff;
    //opacity: 1;
    position: absolute;
    text-align: center;
    top: 15%;
    left: 0;
    width: 100%;
    padding: 60px;

    &.is-open {
      display: block;
    }
  }
}
