html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
//* {
// outline: 2px solid blue;
//}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  background: $main-bg-color;
}

.conteiner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  @include for-size(tablet-portrait) {
    width: 480px;
    padding-left: 31px;
    padding-right: 31px;
  }
  @include for-size(tablet-landscape) {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
  }
  @include for-size(desktop) {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
