//Особенности

.section {
  list-style: none;
  padding: 0;
  margin: 0;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.features {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 4);

    & li {
      margin-right: 30px;
    }

    & li:nth-child(4n + 0) {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .features-block {
    width: 270px;
  }
}

.features-block {
  display: flex;
  height: 120px;

  width: 100%;
  background-color: $features-bg-color;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 30px; //для моб
}
.icon-features {
  height: 70px;
  width: 70px;
}

.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: $sec-txt-color;
}
