.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $main-txt-color;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo-part {
  color: $accent-color;
}
.site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 0.02em;
}
.container-heder {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.flexbox {
  display: flex;
}

.menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;

  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $accent-color;
    fill: $accent-color;
  }
}

.menu-list {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #212121;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 1.16;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .menu-list li:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-contact {
  list-style: none;
  align-items: center;
  text-decoration: none;
  //display: flex;
  margin-top: 0px;
  margin-bottom: 0px;

  @media screen and (max-width: 767px) {
    margin-left: auto; //моб
    margin-right: auto;
    font-size: 18px;
    line-height: 1.16;
  } // моб

  @media screen and (min-width: 1200px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    .menu-contact li:not(:last-child) {
      padding-bottom: 0;
      margin-right: 30px;
    }
    .menu-item {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 768px), (max-width: 1199px) {
    //padding-top: 30px;
    .menu-contact li:not(:last-child) {
      padding-bottom: 10px;
    }
  }
}

.menu-item {
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: $sec-txt-color;
  fill: $sec-txt-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: $accent-color;
    fill: $accent-color;
  }
}

.menu-contact li:nth-child(2n + 0) {
  margin-right: 0;
}

.icon-mail {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.icon-smartphone {
  margin-right: 10px;
  width: 10px;
  height: 15px;
  fill: currentColor;
}

.main-nav {
  display: flex;
  align-items: center;
}

.flex-nav {
  display: flex;
}
//.flex-nav li + li {
//  margin-left: 50px;
//}

//.menu-button li + li {
//  margin-left: 8px;
//  list-style: none;
//}

//синяя полоска актив
.active-link::after {
  display: flex;
  content: "";
  top: 40px;
  left: 0px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background: $accent-color;
  transform: translateY(34px);
}
